<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fragekatalog</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 80px;
        }


        .mt-50 {
            margin-top: 50px;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .mb-10 {
            margin-bottom: 10px;
        }

        .in-height {
            height: 100px;
        }


    </style>
</head>
<body>
    <!-- Navigationsleiste -->
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">

                <!-- Anfang der rechten Seite -->
                <form class="navbar-form pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="dashboard"><span class="glyphicon glyphicon-remove"></span> Abbrechen</a>

                        </li>
                    </ul>
                </form>
                <!-- Ende der rechten Seite -->

            </div>
        </div>
    </div>
    <!-- Ende Navigationsleiste -->
    <form method="post">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h2>Fragekatalog</h2></div>
                    <div class="row mt-10">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Welchen Musikgeschmack hast du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="music" id="music">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="m : ${music}" th:value="${m}" th:text="${m}" th:selected="${m == musicSelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Welches Geschlecht hast du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="gender" id="gender">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="g : ${gender}" th:value="${g}" th:text="${g}" th:selected="${g == genderSelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Was studierst du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="course" id="course">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="c : ${course}" th:value="${c}" th:text="${c}" th:selected="${c == courseSelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">In welchem Semester bist du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="semester" id="semester">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="s : ${semester}" th:value="${s}" th:text="${s}" th:selected="${s == semesterSelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Wo studierst du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="university" id="university">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="u : ${university}" th:value="${u}" th:text="${u}" th:selected="${u == universitySelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Wo wohnst du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="province" id="province">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="p : ${province}" th:value="${p}" th:text="${p}" th:selected="${p == provinceSelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Wie alt bist du?</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-lg">
                                                <select class="form-control" name="age" id="age">
                                                    <option value="" selected="selected">Triff deine Auswahl!</option>
                                                    <option th:each="a : ${age}" th:value="${a}" th:text="${a}" th:selected="${a == ageSelected}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <button type="submit" name="speichern" class="btn btn-default btn-block"><b>Änderungen speichern</b></button>
            </div>
        </div>
    </form>
</body>
</html>