<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body style="position: absolute; left: 45%; top: 20%">
    <h1> Login: </h1>
    <br/>
    <form style="position: absolute;" method="post">
        <P>Name:</P>
        <input type="text" name="LoginName" id="LoginName"/>
        <P>Password:</P>
        <input type="password" name="LoginPassword" id="LoginPassword" />
        <P></P>
        <input id="loginButton" type="submit" value="login"/>
        <P></P>
        <input value="Passwort zurücksetzen"/>
    </form>

</body>
</html>
