<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"\>
    <meta name="viewport" content="width=device-width, initial-scale=1"\> -->
    <title>Dashboard/Monat</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        body {
            padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
        }

        .mt-50 {
            margin-top: 50px;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .cell {
            display: block;
            margin: auto;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Navigationsleiste -->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <!-- Anfang der linken Seite -->
            <form class="navbar-form pull-left">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/dashboard/monat/dec}"><span class="glyphicon glyphicon-arrow-left"></span> letzter Monat</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar"></span> Kalenderansicht <span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/dashboard/tag}">Tag</a></li>
                            <li><a th:href="@{/dashboard/woche}">Woche</a></li>
                            <li><a th:href="@{/dashboard/monat}">Monat</a></li>
                            <li><a th:href="@{/dashboard/jahr}">Jahr</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/termin}"><span class="glyphicon glyphicon-plus-sign"></span> Neuer Termin</a>
                    </li>
                </ul>
            </form>

            <!-- Anfang der rechten Seite -->
            <form class="navbar-form pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="fragekatalog">Fragekatalog</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-cog"></span> Einstellungen</a>
                    </li>
                    <li>
                        <a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a>
                    </li>
                    <li>
                        <a th:href="@{/dashboard/monat/add}"><span class="sign-plus-glyphicon glyphicon"></span> Nächster Monat</a>
                    </li>
                </ul>
            </form>
            <!-- Ende der rechten Seite -->

        </div>
    </div>
</div>
<!-- Ende Navigationsleiste -->

<!-- Kalenderansich -->
<div class="row mt-10">
    <div class="panel panel-default">
        <div class="panel-heading  text-center">
            <h4>Monatsansicht</h4>
            <h3 th:text="${Monat}"></h3>
        </div>
        <div class="panel-body">
            <div class="row mt-50">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=01)}">1</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=02)}">2</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=03)}">3</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=04)}">4</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=05)}">5</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=06)}">6</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=07)}">7</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=08)}">8</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=09)}">9</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=10)}">10</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=11)}">11</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=12)}">12</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=13)}">13</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=14)}">14</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=15)}">15</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=16)}">16</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=17)}">17</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=18)}">18</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=19)}">19</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=20)}">20</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=21)}">21</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=22)}">22</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=23)}">23</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=24)}">24</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=25)}">25</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=26)}">26</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=27)}">27</a>
                            </td>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=28)}">28</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-default cell" role="button" th:href="@{/dashboard/tag(datum=29)}">29</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ende Kalenderansicht -->
</body>
</html>